<header id="header" class="">
  <img class="back-video" src="./assets/puc-donar-large.jpg" alt="imagen-puedo-donar">
  
  <div class="w-full relative h-[100vh] flex flex-col items-center justify-between text-white">
    <app-navbar></app-navbar>
    <div class="text-center ">
      <h1 class="text-[3.58318rem] font-extrabold">¿PUEDO DONAR?</h1>
    </div>
    <div class="h-[calc(100vh/2)] box-content w-full testBackground ">
      <div *ngIf="formPage === 0"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center  pb-6">TEST RÁPIDO</h1>
        <div class="">Descubre con este sencillo test si puedes ser donante.</div>
        <div class="balanzaIcon m-5"></div>
        <button (click)="formPage = formPage + 1" class="border-[3px] border-white hover:bg-white hover:text-red-color transition p-2 px-4 rounded-md">EMPEZAR</button>
      </div>
      <div *ngIf="formPage === 1"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Has donado alguna vez?</h1>
        <img src="./assets/ico-test-1.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 2"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Hace menos de 2 meses que donaste por última vez?</h1>
        <img src="./assets/ico-test-2.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 3"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Estás bien de salud?</h1>
        <img src="./assets/ico-test-3.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 4"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Tienes más de 18 años?</h1>
        <img src="./assets/ico-test-4.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 5"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Pesas más de 50 kg.?</h1>
        <div class="my-10 balanzaIcon"></div>
        <div class="flex gap-5">
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 6"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Estás embarazada?</h1>
        <img src="./assets/ico-test-6.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 7"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">¿Tienes que realizar alguna actividad laboral o lúdica peligrosa?</h1>
        <img src="./assets/ico-test-7.svg" alt="aPersonAndABloodDrop" class="py-10">
        <div class="flex gap-5">
          <button (click)="cantGive === false" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">SI</button>
          <button (click)="formPage = formPage + 1" class="border-[3px] border-white bg-white text-black hover:bg-red-color hover:text-white transition p-2 px-4 w-[130px] rounded-md">NO</button>
        </div>
      </div>
      <div *ngIf="formPage === 8"  class="h-full flex flex-col justify-center items-center">
        <h1 class="text-[1.728rem] font-normal px-10 text-center ">Felicidades, hoy puedes donar sangre</h1>
        <img src="./assets/ico-test-pots-donar.svg" alt="aPersonAndABloodDrop" class="py-10">
        <a href="/want-give"><button (click)="formPage = formPage + 1" class="border-[3px] border-white hover:bg-white hover:text-red-color transition p-2 px-4 rounded-md">¿DÓNDE PUEDO DONAR?</button></a>
      </div>
    </div>

  </div>
</header>

<section id="canGiveSection">
  <div class="bg-[#f4f4f4] p-10 flex flex-col md:flex-row ">
    <div class="md:w-[50%] px-5">
      <h1 class="pb-8 text-[1.728rem] font-bold">¿Puedo donar?</h1>
      <p class="pb-6">Puedes donar sangre si tienes entre 18 y 70 años, pesas más de 50 kilos y te encuentras bien de salud.</p>
      <p class="pb-6">Las mujeres pueden donar sangre un máximo de tres veces al año y los hombres un máximo de cuatro.</p>
      <p class="pb-6">Entre donación y donación tiene que pasar un mínimo de dos meses.</p>
      <p class="pb-6">Tanto para la seguridad del donante como del receptor, antes de la donación se hace una entrevista médica y se mira la presión del donante y el nivel de hemoglobina.</p>
      <p class="pb-6">Si has tenido Covid deberás esperar 14 días para poder donar desde el fin de los síntomas. </p>
      <p class="pb-6">Si has estado en contacto estrecho con alguien que haya tenido la Covid pero tienes la pauta completa de vacunación y no tienes síntomas, puedes donar sangre con normalidad. </p>
      <p class="pb-6 font-bold">La vacunación contra la Covid no impide donar sangre o plasma, pero si tienes algún efecto secundario com fiebre o malestar general, tendrás que esperar 2 semanas.</p>
      <p class="pb-6">La mascarilla sigue siendo obligatoria para entrar en los espacios de donación. En caso de que no tengas, nosotros te la daremos.</p>
    </div>
    <div class=" px-5">
      <p class="pb-6 font-bold">Puedes donar sangre:</p>
      <ul>
        <li class="balanzaBlackIcon relative pl-[65px] py-[.75rem] [&:not(:last-child)]:border-b-[1px] ">Si tienes entre 18 y 70 años y pesas más de 50 kilos.</li>
        <li class="higadoIcon relative pl-[65px] py-[.75rem] [&:not(:last-child)]:border-b-[1px] ">Aunque hayas padecido hepatitis antes de los 12 años.</li>
        <li class="cubiertosIcon relative pl-[65px] py-[.75rem] [&:not(:last-child)]:border-b-[1px] ">Aunque no estés en ayunas.</li>
        <li class="moleculaIcon relative pl-[65px] py-[.75rem] [&:not(:last-child)]:border-b-[1px] ">Aunque tengas el colesterol elevado.</li>
        <li class="pastillasIcon relative pl-[65px] py-[.75rem] [&:not(:last-child)]:border-b-[1px] ">Aunque tomes alguno de los medicamentos más frecuentes.</li>
      </ul>
      <div class="flex justify-center">
        <app-red-button></app-red-button>
      </div>
    </div>
  </div>
</section>

<section id="testSection">
  <div class="bg-white p-10 py-24 flex flex-col md:flex-row ">
    <div class="md:w-[50%] px-5">
      <h1 class="pb-8 text-[1.728rem] font-bold">Cuestionario previo a la donación</h1>
      <p class="pb-6">El primer paso para donar sangre es contestar un cuestionario.</p>
      <p class="pb-6">Las preguntas de este documento buscan la seguridad del donante y del futuro receptor.</p>
      <p class="pb-6">Un sí a cualquiera de las preguntas no tiene por qué invalidar la donación. El médico valora el cuestionario y decide si se puede hacer la donación.</p>
      <p class="pb-6">Es necesario firmar el cuestionario a mano en el lugar de donación.</p>
      <p class="pb-6">Puedes consultar el formulario desde este <a href="https://donarsang.gencat.cat/media/upload/arxius/Puc%20donar/FR_Autoexclusio_ES_703288_v21_web.pdf" class="text-red-color underline" target="_blank">enlace</a>.</p>
    </div>
    <div class="md:w-[50%] px-5">
      <p class="pb-6 font-extralight italic text-3xl">Identificación</p>
      <p class="pb-6">Recuerda que para donar siempre hace falta llevar un documento de identidad oficial (DNI, NIE, pasaporte, carnet de conducir).</p>
      <div>
        <img src="../../../assets/icons-ids.png" alt="">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>