<section id="socialMedia" class="bg-[#f4f4f4] py-14">
  <div class="socialMediaLinks flex items-center justify-center gap-4">
    <a href="https://twitter.com/donarsang" class="twitterIcon" target="_blank"></a>
    <a href="https://www.facebook.com/donarsang" class="facebookIcon" target="_blank"></a>
    <a href="https://www.youtube.com/user/bancsang" class="youtubeIcon" target="_blank"></a>
    <a href="https://www.instagram.com/donarsang/g" class="instagramIcon" target="_blank"></a>
  </div>
  <div class="p-3 text-center">
    ¿Tienes alguna duda? Nos gustará escucharte.
  </div>
  <div class="text-center font-bold text-2xl">
    93 557 35 66
  </div>
  <div class="text-center py-2">
    <a href="mailto:atencioaldonant@bst.cat" class="text-red-color">atencioaldonant@bst.cat</a>
    - 
    <a href="https://twitter.com/donarsang" class="text-red-color" target="_blank">@donarsang</a>
  </div>
  <div class="text-center pt-16 flex justify-center gap-7 ">
    <a href="https://www.bancsang.net/"  class="bancSalutIcon"></a>
    <a href="https://salutweb.gencat.cat/ca/inici" class="salutIcon" target="_blank"></a>
  </div>

</section>