/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root{
  --red-color: #bc2b30;
  --height-cilindre: 100px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  
}


::selection {
  background-color: #e8989b;
}

.back-video{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: brightness(80%);
}


.buttonLenguagePressed{
  background-color: white;
  padding: 6.75px 13.5px;
  border-radius: 7px;
  color: black;
  font-weight: 400;
}

.untarget{
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
  user-select: none;
}


.homeLinks::before{
  content: "";
  display: block;
  top: auto;
  left: auto;
  position: relative;
  background-image: url('./assets/spritesheet.png');
  background-position: -155px -289px;
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.homeLinks2::before{
  background-position: -319px -160px;
}

.underlineNumber::after{
  content: "";
  background-image: url('./assets/underline.svg');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .75rem;
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}

.cilindre{
  position: relative;
  min-width: 150px;
  border-radius: 75px/25px;
  height: 225px;
  background-color: rgba(160,160,160,.5);
}

.cilindre::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 75px/25px;
  background-color: rgba(160,160,160,.2);
}

.cilindre2{
  position: absolute;
  bottom: 0;
  width: 150px;
  border-radius: 75px/25px;
  height: var(--height-cilindre);
  min-height: 50px;
  background-color: #bc2b30;
}

.cilindre2::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 75px/25px;
  background-color: rgba(158,43,48,.7);
}




