/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root{
  
  --height-cilindre: 0px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  --red-color: #bc2b30;
  
}


::selection {
  background-color: #e8989b;
}

.back-video{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: brightness(80%);
}


.buttonLenguagePressed{
  background-color: white;
  padding: 6.75px 13.5px;
  border-radius: 7px;
  color: black;
  font-weight: 400;
}

.untarget{
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
  user-select: none;
}


.homeLinks::before{
  content: "";
  display: block;
  top: auto;
  left: auto;
  position: relative;
  background-image: url('./assets/spritesheet.png');
  background-position: -155px -289px;
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.homeLinks2::before{
  background-position: -319px -160px;
}

.underlineNumber::after{
  content: "";
  background-image: url('./assets/underline.svg');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .75rem;
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}

.cilindre{
  position: relative;
  min-width: 150px;
  border-radius: 75px/25px;
  height: 225px;
  background-color: rgba(160,160,160,.5);
}

.cilindre::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 75px/25px;
  background-color: rgba(160,160,160,.2);
}

.cilindre2{
  position: absolute;
  bottom: 0;
  width: 150px;
  border-radius: 75px/25px;
  height: var(--height-cilindre);
  min-height: 50px;
  background-color: #bc2b30;
  transition: all 0.7s;
}

.cilindre2::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 75px/25px;
  background-color: rgba(158,43,48,.7);
}

.twitterIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -240px -449px;
  width: 22px;
  height: 19px;
  display: block;
}

.facebookIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -571px -591px;
  width: 19px;
  height: 20px;
  display: block;
}

.youtubeIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -190px -449px;
  width: 25px;
  height: 19px;
  display: block;
}

.instagramIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -543px -688px;
  width: 21px;
  height: 21px;
  display: block;
}

.bancSalutIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -319px -421px;
  width: 141px;
  height: 33px;
  display: block;
}

.salutIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -585px -653px;
  width: 109px;
  height: 33px;
  display: block;
}

.balanzaIcon{
  background-image: url('./assets/spritesheet.png');
  background-position: -780px -168px;
  width: 95px;
  height: 95px;
  display: block;
}

.testBackground{
  background-color: rgb(188,43,48, 0.8);
}

.balanzaBlackIcon::after{
  content: "";
  background-image: url('./assets/spritesheet.png');
  background-position: -694px -653px;
  width: 29px;
  height: 29px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14.5px;
  margin-left: 10px;
}

.higadoIcon::after{
  content: "";
  background-image: url('./assets/spritesheet.png');
  background-position: -840px -622px;
  width: 29px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11.5px;
  margin-left: 10px;
}

.cubiertosIcon::after{
  content: "";
  background-image: url('./assets/spritesheet.png');
  background-position: -460px -421px;
  width: 15px;
  height: 28px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  margin-left: 17px;
}

.moleculaIcon::after{
  content: "";
  background-image: url('./assets/spritesheet.png');
  background-position: -780px -684px;
  width: 49px;
  height: 34px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}

.pastillasIcon::after{
  content: "";
  background-image: url('./assets/spritesheet.png');
  background-position: -155px -449px;
  width: 35px;
  height: 19px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9.5px;
  margin-left: 7px;
}



