/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  --red-color: #bc2b30;
}
::selection {
  background-color: #e8989b;
}

.back-video{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: brightness(80%);
}


.buttonLenguagePressed{
  background-color: white;
  padding: 6.75px 13.5px;
  border-radius: 7px;
  color: black;
  font-weight: 400;
}

.untarget{
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
  user-select: none;
}

