
<header id="header">
  <video class="back-video" autoplay paysInline loop muted>
    <source src="https://www.donarsang.gencat.cat/media/upload/videos/loop_video_portada.mp4" type="video/mp4">
  </video>

  <div class="w-full h-[100vh] relative px-[5%] flex items-center justify-center text-white">
    <nav class="w-full absolute top-0 left-0 py-5 px-[8%] flex items-center justify-between">
      <img class="w-10" src="../../../assets/logo-bancsang-negatiu.png" srcset="/media/img/logo-bancsang-negatiu@2x.png 2x, /media/img/logo-bancsang-negatiu@3x.png 3x" alt="Banc de Sang i Teixits" class="logo">
      <ul class="list-none flex gap-10">
        <li>CAT</li>
        <li>ESP</li>
        <li>EN</li>
      </ul>
    </nav>
    <div class="text-center">
      <h1 class="text-[3.125rem] font-light">Estos días, si quieres donar sangre <span class="font-bold">apúntate</span></h1>
      <button class=" p-3 px-10  bg-white text-red-color hover:bg-red-color hover:text-white rounded-md transition">¡Apúntate aquí!</button>
    </div>
  </div>

</header>
